body {
    font-family: 'Righteous', cursive;
    font-size: 30px;
    line-height: 1.25;
    background-color: white;
    color: black;
    margin: 0 auto;
}

.text {
    border: 100px solid black;
    padding: 40px;
    background-color: white;
    position: relative;
}

h1 {
    font-size: 60px;
    margin: 0;
}

.background {
    /* margin-top: -1800px; */
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    bottom: 0;
    left: 0;


    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    pointer-events: none;
}

@media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }

    .text {
        border: 50px solid black;
    }

    h1 {
        font-size: 30px;    
    }
  }